.btn {
  background-color: transparent;
  color: $white-extra;
  transition: .3s;
  padding: 12px 18px;
  font-family: Roboto, serif;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  border-radius: 4px;
  text-transform: uppercase;
  outline: none;
  border: 1px solid transparent;
  display: inline-block;
  background-position: center;
  box-shadow: 0 0 4px #999;
}

.btn:hover {
  background: $primary-action-extra radial-gradient(circle, transparent 1%, $primary-action-extra 1%) center/15000%;
}
.btn:active {
  background-color: $primary-action;
  border-color: $primary-action;
  background-size: 100%;
  transition: background 0s;
}

.btn-light,
.btn-outline-light,
{
  @extend .btn;
  background-color: $white;
}
.btn-outline-light {
  background-color: transparent;
  border: 1px solid $white;
}

.btn-success,
.btn-outline-success,
{
  @extend .btn;
  background-color: $success;
}
.btn-outline-success {
  background-color: transparent;
  border: 1px solid $success;
}

.btn-primary,
.btn-outline-primary,
{
  @extend .btn;
  background-color: $primary;
}
.btn-outline-primary {
  background-color: transparent;
  border: 1px solid $primary;
}


.btn-small {
  padding: 10px 16px;
  font-size: 12px;
}

.btn-big {
  padding: 16px 20px;
  font-size: 16px;
}
