.btn {
  background-color: transparent;
  color: $text-white-extra;
  transition: .3s;
  padding: 12px 17px;
  font-family: Roboto, serif;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  outline: none;
  border-radius: 100px;
  border: 2px solid transparent;
}
