.btn {
  background-color: transparent;
  color: $text-white-extra;
  transition: .3s;
  padding: 20px 26px;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  outline: none;
  border-radius: 100px;
  border: 2px solid transparent;
}
