* {
  box-sizing: border-box;
}
.container, .container-fluid {
  width: 100%;
  margin: auto;
  padding: 0 16px;
}
.container {
  max-width: $container-width;
}
.container-fluid {
  max-width: 100%;
}
