$container-width: 1100px;

$main-bg: #094067;
$dark-bg: rgba(42, 42, 42, .6);

$white: #DDE1E6;
$white-extra: #FFFFFF;

$success: #65B58A;
$primary: #3DA9FC;
$secondary: #90B4CE;

$primary-action: #0094F6;
$primary-action-extra: #47a7f5;
$secondary-action: #EF4565;

$modal-content-bg: $white-extra;
$modal-border-color: #888;
$modal-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

